body{
	background-image: url(../images/Sky.jpg), url(../images/Sand.jpg);
	background-size: 100%, 100%;
	background-repeat: no-repeat, repeat-y;
	background-color: #87ceeb;
}


.jumbotron{
	margin-top: 120px;
	padding-bottom: 20px;
	padding-top: 35px;
	opacity: 0.9;
}

.icoon img{
	width: 100px;
	margin-left: 50px;
}

.icoon img:hover{
	margin-left: 45px;
}

.Title h1{
	color: white;
	text-align: center;
	font-size: 8em;
	margin-top: 100px;
}

.map-container-5{
padding-bottom:56.25%;
height:0;
}

.map-container-5 iframe{
left:0;
top:0;
height:100%;
width:100%;
position:absolute;
}

.kaart{
	margin-top: 100px;
}

.onderdelen{
	margin-top: 130px;
}
